In [ ]:
{
 "cells": [
  {
   "cell_type": "code",
   "execution_count": 538,
   "metadata": {},
   "outputs": [],
   "source": [
    "import pandas as pd\n",
    "import matplotlib.colors \n"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### Read the data"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 539,
   "metadata": {},
   "outputs": [],
   "source": [
    "df = pd.read_csv(\"daily_report_python.csv\")"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### split data"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 540,
   "metadata": {},
   "outputs": [],
   "source": [
    "df_1,df_2=df[:1], df[1:]"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 541,
   "metadata": {},
   "outputs": [
    {
     "name": "stderr",
     "output_type": "stream",
     "text": [
      "/tmp/ipykernel_2178/302974003.py:2: SettingWithCopyWarning: \n",
      "A value is trying to be set on a copy of a slice from a DataFrame\n",
      "\n",
      "See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy\n",
      "  df_2.drop(df_2.index[0],inplace=True)\n"
     ]
    },
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th>1</th>\n",
       "      <th>Name (Original Name)</th>\n",
       "      <th>User Email</th>\n",
       "      <th>Join Time</th>\n",
       "      <th>Leave Time</th>\n",
       "      <th>Duration (Minutes)</th>\n",
       "      <th>Guest</th>\n",
       "      <th>Recording Consent</th>\n",
       "      <th>In Waiting Room</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>Boshra Jaber</td>\n",
       "      <td>b.jaber@ltuc.com</td>\n",
       "      <td>11/08/2022 08:57:15 AM</td>\n",
       "      <td>11/08/2022 09:41:03 AM</td>\n",
       "      <td>44</td>\n",
       "      <td>No</td>\n",
       "      <td>NaN</td>\n",
       "      <td>No</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>Mostafa Albelbeisi</td>\n",
       "      <td>20020480@student.ltuc.com</td>\n",
       "      <td>11/08/2022 08:57:34 AM</td>\n",
       "      <td>11/08/2022 11:11:34 AM</td>\n",
       "      <td>134</td>\n",
       "      <td>No</td>\n",
       "      <td>NaN</td>\n",
       "      <td>No</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>Mohannad Ghabashneh</td>\n",
       "      <td>22034356@student.ltuc.com</td>\n",
       "      <td>11/08/2022 08:57:35 AM</td>\n",
       "      <td>11/08/2022 11:11:34 AM</td>\n",
       "      <td>134</td>\n",
       "      <td>No</td>\n",
       "      <td>NaN</td>\n",
       "      <td>No</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>5</th>\n",
       "      <td>Abdallah Mousa</td>\n",
       "      <td>22033848@student.ltuc.com</td>\n",
       "      <td>11/08/2022 08:58:00 AM</td>\n",
       "      <td>11/08/2022 11:11:34 AM</td>\n",
       "      <td>134</td>\n",
       "      <td>No</td>\n",
       "      <td>NaN</td>\n",
       "      <td>No</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>6</th>\n",
       "      <td>Ashar Momani</td>\n",
       "      <td>NaN</td>\n",
       "      <td>11/08/2022 08:58:14 AM</td>\n",
       "      <td>11/08/2022 11:11:34 AM</td>\n",
       "      <td>134</td>\n",
       "      <td>Yes</td>\n",
       "      <td>Yes</td>\n",
       "      <td>No</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>61</th>\n",
       "      <td>Tahani Ali</td>\n",
       "      <td>NaN</td>\n",
       "      <td>11/08/2022 10:42:45 AM</td>\n",
       "      <td>11/08/2022 10:44:21 AM</td>\n",
       "      <td>2</td>\n",
       "      <td>Yes</td>\n",
       "      <td>NaN</td>\n",
       "      <td>No</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>62</th>\n",
       "      <td>Tahani Ali</td>\n",
       "      <td>NaN</td>\n",
       "      <td>11/08/2022 10:46:22 AM</td>\n",
       "      <td>11/08/2022 11:11:34 AM</td>\n",
       "      <td>26</td>\n",
       "      <td>Yes</td>\n",
       "      <td>NaN</td>\n",
       "      <td>No</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>63</th>\n",
       "      <td>رزان عويضات</td>\n",
       "      <td>NaN</td>\n",
       "      <td>11/08/2022 09:36:33 AM</td>\n",
       "      <td>11/08/2022 09:37:59 AM</td>\n",
       "      <td>2</td>\n",
       "      <td>Yes</td>\n",
       "      <td>NaN</td>\n",
       "      <td>No</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>64</th>\n",
       "      <td>Tahani Ali</td>\n",
       "      <td>NaN</td>\n",
       "      <td>11/08/2022 10:44:22 AM</td>\n",
       "      <td>11/08/2022 10:45:39 AM</td>\n",
       "      <td>2</td>\n",
       "      <td>Yes</td>\n",
       "      <td>NaN</td>\n",
       "      <td>No</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>65</th>\n",
       "      <td>Walaa Atiyh</td>\n",
       "      <td>NaN</td>\n",
       "      <td>11/08/2022 11:01:33 AM</td>\n",
       "      <td>11/08/2022 11:11:34 AM</td>\n",
       "      <td>11</td>\n",
       "      <td>Yes</td>\n",
       "      <td>NaN</td>\n",
       "      <td>No</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>64 rows × 8 columns</p>\n",
       "</div>"
      ],
      "text/plain": [
       "1  Name (Original Name)                 User Email               Join Time  \\\n",
       "2          Boshra Jaber           b.jaber@ltuc.com  11/08/2022 08:57:15 AM   \n",
       "3    Mostafa Albelbeisi  20020480@student.ltuc.com  11/08/2022 08:57:34 AM   \n",
       "4   Mohannad Ghabashneh  22034356@student.ltuc.com  11/08/2022 08:57:35 AM   \n",
       "5        Abdallah Mousa  22033848@student.ltuc.com  11/08/2022 08:58:00 AM   \n",
       "6          Ashar Momani                        NaN  11/08/2022 08:58:14 AM   \n",
       "..                  ...                        ...                     ...   \n",
       "61           Tahani Ali                        NaN  11/08/2022 10:42:45 AM   \n",
       "62           Tahani Ali                        NaN  11/08/2022 10:46:22 AM   \n",
       "63          رزان عويضات                        NaN  11/08/2022 09:36:33 AM   \n",
       "64           Tahani Ali                        NaN  11/08/2022 10:44:22 AM   \n",
       "65          Walaa Atiyh                        NaN  11/08/2022 11:01:33 AM   \n",
       "\n",
       "1               Leave Time Duration (Minutes) Guest Recording Consent  \\\n",
       "2   11/08/2022 09:41:03 AM                 44    No               NaN   \n",
       "3   11/08/2022 11:11:34 AM                134    No               NaN   \n",
       "4   11/08/2022 11:11:34 AM                134    No               NaN   \n",
       "5   11/08/2022 11:11:34 AM                134    No               NaN   \n",
       "6   11/08/2022 11:11:34 AM                134   Yes               Yes   \n",
       "..                     ...                ...   ...               ...   \n",
       "61  11/08/2022 10:44:21 AM                  2   Yes               NaN   \n",
       "62  11/08/2022 11:11:34 AM                 26   Yes               NaN   \n",
       "63  11/08/2022 09:37:59 AM                  2   Yes               NaN   \n",
       "64  11/08/2022 10:45:39 AM                  2   Yes               NaN   \n",
       "65  11/08/2022 11:11:34 AM                 11   Yes               NaN   \n",
       "\n",
       "1  In Waiting Room  \n",
       "2               No  \n",
       "3               No  \n",
       "4               No  \n",
       "5               No  \n",
       "6               No  \n",
       "..             ...  \n",
       "61              No  \n",
       "62              No  \n",
       "63              No  \n",
       "64              No  \n",
       "65              No  \n",
       "\n",
       "[64 rows x 8 columns]"
      ]
     },
     "execution_count": 541,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "df_2.columns=df_2.iloc[0]\n",
    "df_2.drop(df_2.index[0],inplace=True)\n",
    "df_2\n"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### extract duration"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 542,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "135"
      ]
     },
     "execution_count": 542,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "meeting_duration=df_1[\"Duration (Minutes)\"][0]\n",
    "meeting_duration = int(meeting_duration)\n",
    "meeting_id = df_1[\"Meeting ID\"][0]\n",
    "\n",
    "meeting_duration"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### get studant ID"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 543,
   "metadata": {},
   "outputs": [
    {
     "name": "stderr",
     "output_type": "stream",
     "text": [
      "/tmp/ipykernel_2178/620882870.py:1: SettingWithCopyWarning: \n",
      "A value is trying to be set on a copy of a slice from a DataFrame.\n",
      "Try using .loc[row_indexer,col_indexer] = value instead\n",
      "\n",
      "See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy\n",
      "  df_2['Student ID'] = df_2[\"User Email\"].str.extract(pat='(^[0-9]*)')\n"
     ]
    }
   ],
   "source": [
    "df_2['Student ID'] = df_2[\"User Email\"].str.extract(pat='(^[0-9]*)')\n"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### sum total of time for each studant "
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 544,
   "metadata": {},
   "outputs": [
    {
     "name": "stderr",
     "output_type": "stream",
     "text": [
      "/tmp/ipykernel_2178/3109656311.py:1: SettingWithCopyWarning: \n",
      "A value is trying to be set on a copy of a slice from a DataFrame.\n",
      "Try using .loc[row_indexer,col_indexer] = value instead\n",
      "\n",
      "See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy\n",
      "  df_2['Total']=df_2['Duration (Minutes)'].astype('int')\n"
     ]
    },
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th>1</th>\n",
       "      <th>Student ID</th>\n",
       "      <th>Total</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>19012233</td>\n",
       "      <td>132</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>20019322</td>\n",
       "      <td>131</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>20019523</td>\n",
       "      <td>120</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>20020480</td>\n",
       "      <td>134</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>5</th>\n",
       "      <td>21023784</td>\n",
       "      <td>124</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>6</th>\n",
       "      <td>22032930</td>\n",
       "      <td>130</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>7</th>\n",
       "      <td>22033848</td>\n",
       "      <td>134</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>8</th>\n",
       "      <td>22034140</td>\n",
       "      <td>130</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>9</th>\n",
       "      <td>22034185</td>\n",
       "      <td>107</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>10</th>\n",
       "      <td>22034186</td>\n",
       "      <td>128</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>11</th>\n",
       "      <td>22034189</td>\n",
       "      <td>132</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>12</th>\n",
       "      <td>22034245</td>\n",
       "      <td>130</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>13</th>\n",
       "      <td>22034252</td>\n",
       "      <td>130</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>14</th>\n",
       "      <td>22034270</td>\n",
       "      <td>133</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>15</th>\n",
       "      <td>22034278</td>\n",
       "      <td>126</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>16</th>\n",
       "      <td>22034284</td>\n",
       "      <td>127</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>17</th>\n",
       "      <td>22034289</td>\n",
       "      <td>127</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>18</th>\n",
       "      <td>22034306</td>\n",
       "      <td>122</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>19</th>\n",
       "      <td>22034311</td>\n",
       "      <td>121</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>20</th>\n",
       "      <td>22034319</td>\n",
       "      <td>123</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>21</th>\n",
       "      <td>22034326</td>\n",
       "      <td>127</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>22</th>\n",
       "      <td>22034356</td>\n",
       "      <td>134</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>23</th>\n",
       "      <td>22034359</td>\n",
       "      <td>132</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>24</th>\n",
       "      <td>22034361</td>\n",
       "      <td>127</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>25</th>\n",
       "      <td>22034362</td>\n",
       "      <td>61</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>26</th>\n",
       "      <td>22034365</td>\n",
       "      <td>125</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>27</th>\n",
       "      <td>22034368</td>\n",
       "      <td>133</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>28</th>\n",
       "      <td>22034371</td>\n",
       "      <td>122</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "1  Student ID  Total\n",
       "1    19012233    132\n",
       "2    20019322    131\n",
       "3    20019523    120\n",
       "4    20020480    134\n",
       "5    21023784    124\n",
       "6    22032930    130\n",
       "7    22033848    134\n",
       "8    22034140    130\n",
       "9    22034185    107\n",
       "10   22034186    128\n",
       "11   22034189    132\n",
       "12   22034245    130\n",
       "13   22034252    130\n",
       "14   22034270    133\n",
       "15   22034278    126\n",
       "16   22034284    127\n",
       "17   22034289    127\n",
       "18   22034306    122\n",
       "19   22034311    121\n",
       "20   22034319    123\n",
       "21   22034326    127\n",
       "22   22034356    134\n",
       "23   22034359    132\n",
       "24   22034361    127\n",
       "25   22034362     61\n",
       "26   22034365    125\n",
       "27   22034368    133\n",
       "28   22034371    122"
      ]
     },
     "execution_count": 544,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "df_2['Total']=df_2['Duration (Minutes)'].astype('int')\n",
    "df_2=df_2.groupby('Student ID',as_index=False).sum(numeric_only=True)\n",
    "df_2=df_2[1:]\n",
    "df_2"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### studant state"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 545,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<style type=\"text/css\">\n",
       "#T_067cf_row0_col3, #T_067cf_row10_col3, #T_067cf_row22_col3 {\n",
       "  background-color: #00491d;\n",
       "  color: #f1f1f1;\n",
       "}\n",
       "#T_067cf_row1_col3 {\n",
       "  background-color: #005020;\n",
       "  color: #f1f1f1;\n",
       "}\n",
       "#T_067cf_row2_col3 {\n",
       "  background-color: #117b38;\n",
       "  color: #f1f1f1;\n",
       "}\n",
       "#T_067cf_row3_col3, #T_067cf_row6_col3, #T_067cf_row13_col3, #T_067cf_row21_col3, #T_067cf_row26_col3 {\n",
       "  background-color: #00441b;\n",
       "  color: #f1f1f1;\n",
       "}\n",
       "#T_067cf_row4_col3 {\n",
       "  background-color: #016e2d;\n",
       "  color: #f1f1f1;\n",
       "}\n",
       "#T_067cf_row5_col3, #T_067cf_row7_col3, #T_067cf_row11_col3, #T_067cf_row12_col3 {\n",
       "  background-color: #005622;\n",
       "  color: #f1f1f1;\n",
       "}\n",
       "#T_067cf_row8_col3 {\n",
       "  background-color: #3fa95c;\n",
       "  color: #f1f1f1;\n",
       "}\n",
       "#T_067cf_row9_col3 {\n",
       "  background-color: #005b25;\n",
       "  color: #f1f1f1;\n",
       "}\n",
       "#T_067cf_row14_col3, #T_067cf_row25_col3 {\n",
       "  background-color: #00682a;\n",
       "  color: #f1f1f1;\n",
       "}\n",
       "#T_067cf_row15_col3, #T_067cf_row16_col3, #T_067cf_row20_col3, #T_067cf_row23_col3 {\n",
       "  background-color: #006227;\n",
       "  color: #f1f1f1;\n",
       "}\n",
       "#T_067cf_row17_col3, #T_067cf_row18_col3, #T_067cf_row27_col3 {\n",
       "  background-color: #0b7734;\n",
       "  color: #f1f1f1;\n",
       "}\n",
       "#T_067cf_row19_col3 {\n",
       "  background-color: #067230;\n",
       "  color: #f1f1f1;\n",
       "}\n",
       "#T_067cf_row24_col3 {\n",
       "  background-color: #f7fcf5;\n",
       "  color: #000000;\n",
       "}\n",
       "</style>\n",
       "<table id=\"T_067cf\">\n",
       "  <thead>\n",
       "    <tr>\n",
       "      <th class=\"index_name level0\" >1</th>\n",
       "      <th id=\"T_067cf_level0_col0\" class=\"col_heading level0 col0\" >Student ID</th>\n",
       "      <th id=\"T_067cf_level0_col1\" class=\"col_heading level0 col1\" >Total</th>\n",
       "      <th id=\"T_067cf_level0_col2\" class=\"col_heading level0 col2\" >state</th>\n",
       "      <th id=\"T_067cf_level0_col3\" class=\"col_heading level0 col3\" >percentage of attendance</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th id=\"T_067cf_level0_row0\" class=\"row_heading level0 row0\" >1</th>\n",
       "      <td id=\"T_067cf_row0_col0\" class=\"data row0 col0\" >19012233</td>\n",
       "      <td id=\"T_067cf_row0_col1\" class=\"data row0 col1\" >132</td>\n",
       "      <td id=\"T_067cf_row0_col2\" class=\"data row0 col2\" >Present</td>\n",
       "      <td id=\"T_067cf_row0_col3\" class=\"data row0 col3\" >98</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th id=\"T_067cf_level0_row1\" class=\"row_heading level0 row1\" >2</th>\n",
       "      <td id=\"T_067cf_row1_col0\" class=\"data row1 col0\" >20019322</td>\n",
       "      <td id=\"T_067cf_row1_col1\" class=\"data row1 col1\" >131</td>\n",
       "      <td id=\"T_067cf_row1_col2\" class=\"data row1 col2\" >Present</td>\n",
       "      <td id=\"T_067cf_row1_col3\" class=\"data row1 col3\" >97</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th id=\"T_067cf_level0_row2\" class=\"row_heading level0 row2\" >3</th>\n",
       "      <td id=\"T_067cf_row2_col0\" class=\"data row2 col0\" >20019523</td>\n",
       "      <td id=\"T_067cf_row2_col1\" class=\"data row2 col1\" >120</td>\n",
       "      <td id=\"T_067cf_row2_col2\" class=\"data row2 col2\" >late</td>\n",
       "      <td id=\"T_067cf_row2_col3\" class=\"data row2 col3\" >89</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th id=\"T_067cf_level0_row3\" class=\"row_heading level0 row3\" >4</th>\n",
       "      <td id=\"T_067cf_row3_col0\" class=\"data row3 col0\" >20020480</td>\n",
       "      <td id=\"T_067cf_row3_col1\" class=\"data row3 col1\" >134</td>\n",
       "      <td id=\"T_067cf_row3_col2\" class=\"data row3 col2\" >Present</td>\n",
       "      <td id=\"T_067cf_row3_col3\" class=\"data row3 col3\" >99</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th id=\"T_067cf_level0_row4\" class=\"row_heading level0 row4\" >5</th>\n",
       "      <td id=\"T_067cf_row4_col0\" class=\"data row4 col0\" >21023784</td>\n",
       "      <td id=\"T_067cf_row4_col1\" class=\"data row4 col1\" >124</td>\n",
       "      <td id=\"T_067cf_row4_col2\" class=\"data row4 col2\" >late</td>\n",
       "      <td id=\"T_067cf_row4_col3\" class=\"data row4 col3\" >92</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th id=\"T_067cf_level0_row5\" class=\"row_heading level0 row5\" >6</th>\n",
       "      <td id=\"T_067cf_row5_col0\" class=\"data row5 col0\" >22032930</td>\n",
       "      <td id=\"T_067cf_row5_col1\" class=\"data row5 col1\" >130</td>\n",
       "      <td id=\"T_067cf_row5_col2\" class=\"data row5 col2\" >Present</td>\n",
       "      <td id=\"T_067cf_row5_col3\" class=\"data row5 col3\" >96</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th id=\"T_067cf_level0_row6\" class=\"row_heading level0 row6\" >7</th>\n",
       "      <td id=\"T_067cf_row6_col0\" class=\"data row6 col0\" >22033848</td>\n",
       "      <td id=\"T_067cf_row6_col1\" class=\"data row6 col1\" >134</td>\n",
       "      <td id=\"T_067cf_row6_col2\" class=\"data row6 col2\" >Present</td>\n",
       "      <td id=\"T_067cf_row6_col3\" class=\"data row6 col3\" >99</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th id=\"T_067cf_level0_row7\" class=\"row_heading level0 row7\" >8</th>\n",
       "      <td id=\"T_067cf_row7_col0\" class=\"data row7 col0\" >22034140</td>\n",
       "      <td id=\"T_067cf_row7_col1\" class=\"data row7 col1\" >130</td>\n",
       "      <td id=\"T_067cf_row7_col2\" class=\"data row7 col2\" >Present</td>\n",
       "      <td id=\"T_067cf_row7_col3\" class=\"data row7 col3\" >96</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th id=\"T_067cf_level0_row8\" class=\"row_heading level0 row8\" >9</th>\n",
       "      <td id=\"T_067cf_row8_col0\" class=\"data row8 col0\" >22034185</td>\n",
       "      <td id=\"T_067cf_row8_col1\" class=\"data row8 col1\" >107</td>\n",
       "      <td id=\"T_067cf_row8_col2\" class=\"data row8 col2\" >Absent</td>\n",
       "      <td id=\"T_067cf_row8_col3\" class=\"data row8 col3\" >79</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th id=\"T_067cf_level0_row9\" class=\"row_heading level0 row9\" >10</th>\n",
       "      <td id=\"T_067cf_row9_col0\" class=\"data row9 col0\" >22034186</td>\n",
       "      <td id=\"T_067cf_row9_col1\" class=\"data row9 col1\" >128</td>\n",
       "      <td id=\"T_067cf_row9_col2\" class=\"data row9 col2\" >Present</td>\n",
       "      <td id=\"T_067cf_row9_col3\" class=\"data row9 col3\" >95</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th id=\"T_067cf_level0_row10\" class=\"row_heading level0 row10\" >11</th>\n",
       "      <td id=\"T_067cf_row10_col0\" class=\"data row10 col0\" >22034189</td>\n",
       "      <td id=\"T_067cf_row10_col1\" class=\"data row10 col1\" >132</td>\n",
       "      <td id=\"T_067cf_row10_col2\" class=\"data row10 col2\" >Present</td>\n",
       "      <td id=\"T_067cf_row10_col3\" class=\"data row10 col3\" >98</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th id=\"T_067cf_level0_row11\" class=\"row_heading level0 row11\" >12</th>\n",
       "      <td id=\"T_067cf_row11_col0\" class=\"data row11 col0\" >22034245</td>\n",
       "      <td id=\"T_067cf_row11_col1\" class=\"data row11 col1\" >130</td>\n",
       "      <td id=\"T_067cf_row11_col2\" class=\"data row11 col2\" >Present</td>\n",
       "      <td id=\"T_067cf_row11_col3\" class=\"data row11 col3\" >96</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th id=\"T_067cf_level0_row12\" class=\"row_heading level0 row12\" >13</th>\n",
       "      <td id=\"T_067cf_row12_col0\" class=\"data row12 col0\" >22034252</td>\n",
       "      <td id=\"T_067cf_row12_col1\" class=\"data row12 col1\" >130</td>\n",
       "      <td id=\"T_067cf_row12_col2\" class=\"data row12 col2\" >Present</td>\n",
       "      <td id=\"T_067cf_row12_col3\" class=\"data row12 col3\" >96</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th id=\"T_067cf_level0_row13\" class=\"row_heading level0 row13\" >14</th>\n",
       "      <td id=\"T_067cf_row13_col0\" class=\"data row13 col0\" >22034270</td>\n",
       "      <td id=\"T_067cf_row13_col1\" class=\"data row13 col1\" >133</td>\n",
       "      <td id=\"T_067cf_row13_col2\" class=\"data row13 col2\" >Present</td>\n",
       "      <td id=\"T_067cf_row13_col3\" class=\"data row13 col3\" >99</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th id=\"T_067cf_level0_row14\" class=\"row_heading level0 row14\" >15</th>\n",
       "      <td id=\"T_067cf_row14_col0\" class=\"data row14 col0\" >22034278</td>\n",
       "      <td id=\"T_067cf_row14_col1\" class=\"data row14 col1\" >126</td>\n",
       "      <td id=\"T_067cf_row14_col2\" class=\"data row14 col2\" >Present</td>\n",
       "      <td id=\"T_067cf_row14_col3\" class=\"data row14 col3\" >93</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th id=\"T_067cf_level0_row15\" class=\"row_heading level0 row15\" >16</th>\n",
       "      <td id=\"T_067cf_row15_col0\" class=\"data row15 col0\" >22034284</td>\n",
       "      <td id=\"T_067cf_row15_col1\" class=\"data row15 col1\" >127</td>\n",
       "      <td id=\"T_067cf_row15_col2\" class=\"data row15 col2\" >Present</td>\n",
       "      <td id=\"T_067cf_row15_col3\" class=\"data row15 col3\" >94</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th id=\"T_067cf_level0_row16\" class=\"row_heading level0 row16\" >17</th>\n",
       "      <td id=\"T_067cf_row16_col0\" class=\"data row16 col0\" >22034289</td>\n",
       "      <td id=\"T_067cf_row16_col1\" class=\"data row16 col1\" >127</td>\n",
       "      <td id=\"T_067cf_row16_col2\" class=\"data row16 col2\" >Present</td>\n",
       "      <td id=\"T_067cf_row16_col3\" class=\"data row16 col3\" >94</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th id=\"T_067cf_level0_row17\" class=\"row_heading level0 row17\" >18</th>\n",
       "      <td id=\"T_067cf_row17_col0\" class=\"data row17 col0\" >22034306</td>\n",
       "      <td id=\"T_067cf_row17_col1\" class=\"data row17 col1\" >122</td>\n",
       "      <td id=\"T_067cf_row17_col2\" class=\"data row17 col2\" >late</td>\n",
       "      <td id=\"T_067cf_row17_col3\" class=\"data row17 col3\" >90</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th id=\"T_067cf_level0_row18\" class=\"row_heading level0 row18\" >19</th>\n",
       "      <td id=\"T_067cf_row18_col0\" class=\"data row18 col0\" >22034311</td>\n",
       "      <td id=\"T_067cf_row18_col1\" class=\"data row18 col1\" >121</td>\n",
       "      <td id=\"T_067cf_row18_col2\" class=\"data row18 col2\" >late</td>\n",
       "      <td id=\"T_067cf_row18_col3\" class=\"data row18 col3\" >90</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th id=\"T_067cf_level0_row19\" class=\"row_heading level0 row19\" >20</th>\n",
       "      <td id=\"T_067cf_row19_col0\" class=\"data row19 col0\" >22034319</td>\n",
       "      <td id=\"T_067cf_row19_col1\" class=\"data row19 col1\" >123</td>\n",
       "      <td id=\"T_067cf_row19_col2\" class=\"data row19 col2\" >late</td>\n",
       "      <td id=\"T_067cf_row19_col3\" class=\"data row19 col3\" >91</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th id=\"T_067cf_level0_row20\" class=\"row_heading level0 row20\" >21</th>\n",
       "      <td id=\"T_067cf_row20_col0\" class=\"data row20 col0\" >22034326</td>\n",
       "      <td id=\"T_067cf_row20_col1\" class=\"data row20 col1\" >127</td>\n",
       "      <td id=\"T_067cf_row20_col2\" class=\"data row20 col2\" >Present</td>\n",
       "      <td id=\"T_067cf_row20_col3\" class=\"data row20 col3\" >94</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th id=\"T_067cf_level0_row21\" class=\"row_heading level0 row21\" >22</th>\n",
       "      <td id=\"T_067cf_row21_col0\" class=\"data row21 col0\" >22034356</td>\n",
       "      <td id=\"T_067cf_row21_col1\" class=\"data row21 col1\" >134</td>\n",
       "      <td id=\"T_067cf_row21_col2\" class=\"data row21 col2\" >Present</td>\n",
       "      <td id=\"T_067cf_row21_col3\" class=\"data row21 col3\" >99</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th id=\"T_067cf_level0_row22\" class=\"row_heading level0 row22\" >23</th>\n",
       "      <td id=\"T_067cf_row22_col0\" class=\"data row22 col0\" >22034359</td>\n",
       "      <td id=\"T_067cf_row22_col1\" class=\"data row22 col1\" >132</td>\n",
       "      <td id=\"T_067cf_row22_col2\" class=\"data row22 col2\" >Present</td>\n",
       "      <td id=\"T_067cf_row22_col3\" class=\"data row22 col3\" >98</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th id=\"T_067cf_level0_row23\" class=\"row_heading level0 row23\" >24</th>\n",
       "      <td id=\"T_067cf_row23_col0\" class=\"data row23 col0\" >22034361</td>\n",
       "      <td id=\"T_067cf_row23_col1\" class=\"data row23 col1\" >127</td>\n",
       "      <td id=\"T_067cf_row23_col2\" class=\"data row23 col2\" >Present</td>\n",
       "      <td id=\"T_067cf_row23_col3\" class=\"data row23 col3\" >94</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th id=\"T_067cf_level0_row24\" class=\"row_heading level0 row24\" >25</th>\n",
       "      <td id=\"T_067cf_row24_col0\" class=\"data row24 col0\" >22034362</td>\n",
       "      <td id=\"T_067cf_row24_col1\" class=\"data row24 col1\" >61</td>\n",
       "      <td id=\"T_067cf_row24_col2\" class=\"data row24 col2\" >Absent</td>\n",
       "      <td id=\"T_067cf_row24_col3\" class=\"data row24 col3\" >45</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th id=\"T_067cf_level0_row25\" class=\"row_heading level0 row25\" >26</th>\n",
       "      <td id=\"T_067cf_row25_col0\" class=\"data row25 col0\" >22034365</td>\n",
       "      <td id=\"T_067cf_row25_col1\" class=\"data row25 col1\" >125</td>\n",
       "      <td id=\"T_067cf_row25_col2\" class=\"data row25 col2\" >Present</td>\n",
       "      <td id=\"T_067cf_row25_col3\" class=\"data row25 col3\" >93</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th id=\"T_067cf_level0_row26\" class=\"row_heading level0 row26\" >27</th>\n",
       "      <td id=\"T_067cf_row26_col0\" class=\"data row26 col0\" >22034368</td>\n",
       "      <td id=\"T_067cf_row26_col1\" class=\"data row26 col1\" >133</td>\n",
       "      <td id=\"T_067cf_row26_col2\" class=\"data row26 col2\" >Present</td>\n",
       "      <td id=\"T_067cf_row26_col3\" class=\"data row26 col3\" >99</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th id=\"T_067cf_level0_row27\" class=\"row_heading level0 row27\" >28</th>\n",
       "      <td id=\"T_067cf_row27_col0\" class=\"data row27 col0\" >22034371</td>\n",
       "      <td id=\"T_067cf_row27_col1\" class=\"data row27 col1\" >122</td>\n",
       "      <td id=\"T_067cf_row27_col2\" class=\"data row27 col2\" >late</td>\n",
       "      <td id=\"T_067cf_row27_col3\" class=\"data row27 col3\" >90</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n"
      ],
      "text/plain": [
       "<pandas.io.formats.style.Styler at 0x7f9dc5a4b820>"
      ]
     },
     "execution_count": 545,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "df_2[\"state\"]= ['Present' if x >= meeting_duration-10 else \"Absent\" if x <meeting_duration-20 else \"late\" for x in df_2['Total']] \n",
    "df_2['percentage of attendance']=[f'{round((x/meeting_duration)*100)}' for x in df_2['Total']]\n",
    "\n",
    "df_2.style\n",
    "\n",
    "df_2.style.background_gradient(subset=['percentage of attendance'], cmap='Greens')\n",
    "\n"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "## Daily Report "
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 546,
   "metadata": {},
   "outputs": [],
   "source": [
    "df_att=pd.read_csv('data.csv')\n",
    "df_att[meeting_id]=df_2[\"state\"]\n",
    "df_att['Student ID']=df_2['Student ID']\n",
    "df_att['percentage of attendance']=df_2['percentage of attendance']\n",
    "df_att.to_csv('data.csv')\n"
   ]
  }
 ],
 "metadata": {
  "kernelspec": {
   "display_name": "Python 3.10.7 ('.venv': venv)",
   "language": "python",
   "name": "python3"
  },
  "language_info": {
   "codemirror_mode": {
    "name": "ipython",
    "version": 3
   },
   "file_extension": ".py",
   "mimetype": "text/x-python",
   "name": "python",
   "nbconvert_exporter": "python",
   "pygments_lexer": "ipython3",
   "version": "3.10.7"
  },
  "orig_nbformat": 4,
  "vscode": {
   "interpreter": {
    "hash": "3ed18a0288abcc524f239153d37bd035d11b53a2bf3a8722b245040e6851e82b"
   }
  }
 },
 "nbformat": 4,
 "nbformat_minor": 2
}